@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/** 
--heading-font: 'Roboto Mono', monospace;
 --paragraph-font: 'Roboto Mono', monospace;
**/
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    padding: 25px;
}
nav a{
    text-align: center;
    padding: 35px;
}
a {
    padding: 25px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{ 
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #F0A202;
}
body {
    background-color: #F0A202;
    color: #202C59;
    margin: 0;
    font-family:'Roboto Mono', monospace;
    font-size: 22px;
    padding: 0;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
header {
    background-color: #F0A202;
    color: #202C59;
}
nav a {
    color: #202C59; 
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #202C59;
    color: white;
}
.home-title {
    color: #202C59;  
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    margin-top: 10px;
}
h1 {
    margin: 50px 0;
}
h4 {
    color: #202C59; 
}
.book, .join {
    background-color: #F0A202;
    color: #202C59;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid #202C59;
}
.book:hover, .join:hover {
    background-color: #202C59;
    color: white;
}
.rivers-card {
    margin:200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #202C59;
}
.msg h2 {
    color: #202C59; 
    font-family: 'Roboto Mono', monospace;
}
.msg p {
    color: #202C59; 
    font-size: .8em;
    padding-bottom: 15px;
}
.msg {
    background-color: #F0A202;
    color: #202C59;
    padding: 35px;
}
img {
    border: 4px solid steelblue;
}
footer {
    background-color: #F0A202;
    color: #202C59;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #202C59; 
    text-align: center;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    padding: 25px;
}
footer p a:hover {
    text-decoration: underline;
}  
footer a:hover {
    background-color: #202C59;
    color: white;
}
.social {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
