* {
    text-align: center;
    margin: 0 auto;
    background-color: pink;
}
header {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 5%;
}
h1:hover {
    color: black;
    font-weight: bold;
}
.first {
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    width: 60%;
    padding-bottom: 4%;
}
.list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: left;
    width: 50%;
}
#prophet {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
.second {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 50px 20px;
    padding-bottom: 7%;
    width: 50%;
}